@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_2004343_dzvfwwhnxqs.eot?t=1597300539714'); /* IE9 */
  src: url('//at.alicdn.com/t/font_2004343_dzvfwwhnxqs.eot?t=1597300539714#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABnQAAAJqAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBAIEPATYCJAMICwYABCAFhG0HLhuzBRHVi1Wyvxw3rqbaYBWGpARNyqFj20NpCt2nNj56YfiHsj5QJe2vg0KWa5bWmsKDwxEUSiBU1xhbmpAIhVBN/nehb2kuUyLhI1RJPg3Io3qgXIHTjITw44H/e3f/bFogHQ/wY8/CD9IaIuFYuLgYdwICyDZAwFz9bkhFZpcAD84BkNRbMPn/NeAT906bQIHMd/4vx71ojUFdOhYHUqB7YBRZkUTeMHaDCh56DAGXnA51n3sll0W2SkCratrnzlwsLE7UQWyAgymdsTjijekf2Lbf1z/PhYk1keVNJmHk9iWPi2Fbk3ADYhy3AjPoAAtUAkNjBjkMM1fIVMKxsoUP1EZ0VB1y/ros0wMgo/OfSVAKHzVqAjzWVDqgx7Qd1Bm7o6atD374TBkNwd/uQL9UQgLMDaJHUpcGGIXGffwYmjxFaQtoGjrrbcDvGALA2NicExC+uyvuulMAjy1bh7EZmQUc+zYL/0hA2GKJRZnBlIYC4LBJ59xVLi5gMG0hb1Z19IZi4hBlsNhlR5g5VMgWkdCIlVtfh43DAC5to+NuYTMGpTXQstEgAVeY+NxgFnAnW+gvWMX8wyaQAZdp1LrQrZZV+Q9MJ6Ernv+wugy9Kkzid9mvVHy1J56KWuYn8Vx5MYvTZfSFemIRW+bvIhdRqHjo8Fl7jtp2wJGHmi4SlyLjIkkU6E3xZejAhwemk9AVz39YXYZe1ePFX33+lYqv9sSIphHvJ/FczY5ZnBKQX+Q9UdOjvDJ/F7mIQsVDh8/aPGrbAUfwvJouEpcMgXGR5O0UqTxWr+z+7gQAPmQaXcuLDTBP12sGAAAA') format('woff2'),
  url('//at.alicdn.com/t/font_2004343_dzvfwwhnxqs.woff?t=1597300539714') format('woff'),
  url('//at.alicdn.com/t/font_2004343_dzvfwwhnxqs.ttf?t=1597300539714') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_2004343_dzvfwwhnxqs.svg?t=1597300539714#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add1:before {
  content: "\e6d4";
}
